use load_env
echo ""
echo " No .venv environment"
echo ""
echo "  Useful commands:"
echo "    python video.py transcribe-folder \"folder1\""
echo "    python video.py extract-wav \"filepath1\""
echo "    python video.py downscale-mkv-folder \"folder1\""
